.fluence-ui-col{
    position: relative;
    width: 100%;

    border: 1px solid green;

    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.fluence-ui-col-1 {width: 8.33333333%;}
.fluence-ui-col-2 {width: 16.66666667%;}
.fluence-ui-col-3 {width: 25%;}
.fluence-ui-col-4 {width: 33.33333333%;}
.fluence-ui-col-5 {width: 41.66666667%;}
.fluence-ui-col-6 {width: 50%;}
.fluence-ui-col-7 {width: 58.33333333%;}
.fluence-ui-col-8 {width: 66.66666667%}
.fluence-ui-col-9 {width: 75%;}
.fluence-ui-col-10 {width: 83.33333333%;}
.fluence-ui-col-11 {width: 91.66666667%;}
.fluence-ui-col-12 {width: 100%;}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {background: pink;}
}


@media only screen and (min-width: 768px) {
    .fluence-ui-col-sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .fluence-ui-col-sm-11 {
      flex: 0 0 91.66666667%;
      max-width: 91.66666667%;
    }
    .fluence-ui-col-sm-10 {
      flex: 0 0 83.33333333%;
      max-width: 83.33333333%;
    }
    .fluence-ui-col-sm-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .fluence-ui-col-sm-8 {
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }
    .fluence-ui-col-sm-7 {
      flex: 0 0 58.33333333%;
      max-width: 58.33333333%;
    }
    .fluence-ui-col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .fluence-ui-col-sm-5 {
      flex: 0 0 41.66666667%;
      max-width: 41.66666667%;
    }
    .fluence-ui-col-sm-4 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
    .fluence-ui-col-sm-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .fluence-ui-col-sm-2 {
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
    }
    .fluence-ui-col-sm-1 {
      flex: 0 0 8.33333333%;
      max-width: 8.33333333%;
    }
  }
  @media only screen and (min-width: 992px) {
    .fluence-ui-col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .fluence-ui-col-md-11 {
      flex: 0 0 91.66666667%;
      max-width: 91.66666667%;
    }
    .fluence-ui-col-md-10 {
      flex: 0 0 83.33333333%;
      max-width: 83.33333333%;
    }
    .fluence-ui-col-md-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .fluence-ui-col-md-8 {
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }
    .fluence-ui-col-md-7 {
      flex: 0 0 58.33333333%;
      max-width: 58.33333333%;
    }
    .fluence-ui-col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .fluence-ui-col-md-5 {
      flex: 0 0 41.66666667%;
      max-width: 41.66666667%;
    }
    .fluence-ui-col-md-4 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
    .fluence-ui-col-md-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .fluence-ui-col-md-2 {
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
    }
    .fluence-ui-col-md-1 {
      flex: 0 0 8.33333333%;
      max-width: 8.33333333%;
    }
  }
  @media only screen and (max-width: 1200px) {
    .fluence-ui-col-lg-12 {
      flex: 0 0 100%;
      max-width: 100%;  
    }
    .fluence-ui-col-lg-11 {
      flex: 0 0 91.66666667%;
      max-width: 91.66666667%;
    }
    .fluence-ui-col-lg-10 {
      flex: 0 0 83.33333333%;
      max-width: 83.33333333%;
    }
    .fluence-ui-col-lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .fluence-ui-col-lg-8 {
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }
    .fluence-ui-col-lg-7 {
      flex: 0 0 58.33333333%;
      max-width: 58.33333333%;
    }
    .fluence-ui-col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .fluence-ui-col-lg-5 {
      flex: 0 0 41.66666667%;
      max-width: 41.66666667%;
    }
    .fluence-ui-col-lg-4 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
    .fluence-ui-col-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .fluence-ui-col-lg-2 {
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
    }
    .fluence-ui-col-lg-1 {
      flex: 0 0 8.33333333%;
      max-width: 8.33333333%;
    }
  } 