.fluence-ui-col{
    position: relative;
    width: 100%;

    border: 1px solid green;

    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.fluence-ui-col-1 {flex: 0 0 8.33333333%; max-width: 8.33333333%;}
.fluence-ui-col-2 {flex: 0 0 16.66666667%; max-width: 16.66666667%;}
.fluence-ui-col-3 {flex: 0 0 25%; max-width: 25%;}
.fluence-ui-col-4 {flex: 0 0 33.33333333%; max-width: 33.33333333%;}
.fluence-ui-col-5 {flex: 0 0 41.66666667%; max-width: 41.66666667%;}
.fluence-ui-col-6 {flex: 0 0 50%; max-width: 50%;}
.fluence-ui-col-7 {flex: 0 0 58.33333333%; max-width: 58.33333333%;}
.fluence-ui-col-8 {flex: 0 0 66.66666667%; max-width: 66.66666667%}
.fluence-ui-col-9 {flex: 0 0 83.33333333%; max-width: 83.33333333%;}
.fluence-ui-col-10 {flex: 0 0 83.33333333%; max-width: 83.33333333%;}
.fluence-ui-col-11 {flex: 0 0 91.66666667%; max-width: 91.66666667%;}
.fluence-ui-col-12 {flex: 0 0 100%; max-width: 100%;}


/* sm, md ,  */

@media (max-width: 599px) {
  body{
    background-color: red;
  }
  .fluence-ui-col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .fluence-ui-col-sm-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .fluence-ui-col-sm-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .fluence-ui-col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .fluence-ui-col-sm-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .fluence-ui-col-sm-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .fluence-ui-col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fluence-ui-col-sm-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .fluence-ui-col-sm-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .fluence-ui-col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .fluence-ui-col-sm-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .fluence-ui-col-sm-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
}


@media (min-width: 600px) {
  body{
    background-color: purple;
  }
  .fluence-ui-col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .fluence-ui-col-md-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .fluence-ui-col-md-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .fluence-ui-col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .fluence-ui-col-md-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .fluence-ui-col-md-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .fluence-ui-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fluence-ui-col-md-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .fluence-ui-col-md-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .fluence-ui-col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .fluence-ui-col-md-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .fluence-ui-col-md-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
}


@media (min-width: 900px) {
  body{
    background-color: green;
  }
  .fluence-ui-col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;  
  }
  .fluence-ui-col-lg-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .fluence-ui-col-lg-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .fluence-ui-col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .fluence-ui-col-lg-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .fluence-ui-col-lg-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .fluence-ui-col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fluence-ui-col-lg-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .fluence-ui-col-lg-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .fluence-ui-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .fluence-ui-col-lg-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .fluence-ui-col-lg-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
}

@media (min-width: 1200px) {
  body{
    background-color: yellow;
  }
  .fluence-ui-col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;  
  }
  .fluence-ui-col-xl-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .fluence-ui-col-xl-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .fluence-ui-col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .fluence-ui-col-xl-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .fluence-ui-col-xl-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .fluence-ui-col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fluence-ui-col-xl-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .fluence-ui-col-xl-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .fluence-ui-col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .fluence-ui-col-xl-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .fluence-ui-col-xl-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
}

@media (min-width: 1800px) {
  body{
    background: pink;
  }
  .fluence-ui-col-xxl-12 {
    flex: 0 0 100%;
    max-width: 100%;  
  }
  .fluence-ui-col-xxl-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .fluence-ui-col-xxl-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .fluence-ui-col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .fluence-ui-col-xxl-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .fluence-ui-col-xxl-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .fluence-ui-col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fluence-ui-col-xxl-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .fluence-ui-col-xxl-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .fluence-ui-col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .fluence-ui-col-xxl-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .fluence-ui-col-xxl-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
}
