:root {
    --fluence-ui-primary-color: #1187f5;
    --fluence-ui-primary-color-hover: #389efc;
    --fluence-ui-primary-color-active: #1f5a8f;
  }

.fluence-ui-button{
    background-color: var(--fluence-ui-primary-color);
    border: 1px solid var(--fluence-ui-primary-color);
    border-radius: 4px;
    height: 32px;
    padding: 4px 15px;
    text-align: center;
    color: white;
    font-weight: 400;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    transition: all .3s cubic-bezier(.60,.050,.360,1);
    margin: 4px;
}
.fluence-ui-button:hover{
    border-color: var(--fluence-ui-primary-color-hover);
    background-color: var(--fluence-ui-primary-color-hover);
}
.fluence-ui-button:active{
    border-color: var(--fluence-ui-primary-color-active);
    background-color: var(--fluence-ui-primary-color-active);
}
.fluence-ui-button-block{
    width: 100%;
}

.fluence-ui-button-small{
    height: 24px;
    padding: 4px 10px;
}
.fluence-ui-button-default{
    height: 32px;
    padding: 4px 15px;
}
.fluence-ui-button-large{
    height: 38px;
    padding: 4px 20px;
}

.fluence-ui-button-type-dashed{
    border-color: #999999;
    color: #000;
    background-color: #fff;
    border-style: dashed;
}
.fluence-ui-button-type-dashed:hover{
    border-color: var(--fluence-ui-primary-color-hover);
    background-color: #fff;
    color: var(--fluence-ui-primary-color-hover);
}
.fluence-ui-button-type-dashed:active{
    border-color: var(--fluence-ui-primary-color-active);
    background-color: #fff;
    color: var(--fluence-ui-primary-color-hover);
}

.fluence-ui-button-type-text{
    border: none;
    color: #000;
    background-color: transparent;
}
.fluence-ui-button-type-text:hover{
    background-color: transparent;
}
.fluence-ui-button-type-text:active{
    background-color: transparent;
}




.fluence-ui-text{
    color: #000;
    overflow-wrap: break-word;
    margin: 12px;
}
.fluence-ui-text-strong{
    font-weight: bold;
}
.fluence-ui-text-italic{
    font-style: italic;
}




.fluence-ui-title{
    color: #000;
    overflow-wrap: break-word;
    margin: 12px;
}
.fluence-ui-title-strong{
    font-weight: bold;
}
.fluence-ui-title-italic{
    font-style: italic;
}
h1.fluence-ui-title{
    font-size: 34px;
}
h2.fluence-ui-title{
    font-size: 30px;
}
h3.fluence-ui-title{
    font-size: 26px;
}
h4.fluence-ui-title{
    font-size: 22px;
}
h5.fluence-ui-title{
    font-size: 18px;
}
h6.fluence-ui-title{
    font-size: 14px;
}
.fluence-ui-title-strong{
    font-weight: bold;
}
.fluence-ui-title-italic{
    font-style: italic;
}