:root {
    --fluence-ui-primary-color: #1187f5;
    --fluence-ui-primary-color-hover: #389efc;
    --fluence-ui-primary-color-active: #1f5a8f;
    --fluence-ui-base-margin-text: 4px;
    --fluence-ui-base-margin-title: 4px;
    --fluence-ui-base-margin-container: 12px;
    /* --fluence-ui-dark-color: #1f1f1f; */
    --fluence-ui-dark-color: rgba(18,18,18,1);
    --fluence-ui-dark-color-level2: rgba(18,18,18,0.9);
    --fluence-ui-dark-color-level3: rgba(18,18,18,0.85);
    
  }
  * {
    box-sizing: border-box;
  }